{% extends "layout.njk" %}

{% block head %}
    <title>About - Desafio 3.1</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="RocketseatLogo">
        <h1>Rocketseat</h1>
        <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível. Uma startup criada para educar, inspirar e conectar programadores e empreendedores</p>
        <ul> Tecnologias:
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>React Native</li>
        </ul>
    </div>

    <div id="linksFooter" class="links">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/rocketseat_oficial" target="_blank">Instragram</a>
    </div>
{% endblock %}
